body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
}

h1 {

    color: #ad4b7c;
    padding: 15px;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
}

form {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}


button {
    background-color: #ad4b7c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #94425e;
}

button:active {
    transform: scale(0.98);
}

.response {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.dataField {
    margin-bottom: 10px;
}